---
layout: page
title: Directory
permalink: /directory/
headerTitle: Node / Entrypoint Directory
headerSubCopy: View the currently active nodes of the network
custom_head_datatables: true
---

{% include global-header.html %}

<div class="container">
  <div class="row">
    <h3>Node / Entrypoint Directory</h3>
    <p>This is a list of the currently active nodes on the Cerulean Network. Feel free to use these as entry-points if the defaults are not working.</p>
    <hr>
    <table class="table table-striped dataTable">
      <thead>
        <tr>
          node_name,node_region,node_version,node_uptime
          <td>Node Name</td>
          <td>Node Region</td>
          <td>Node Version</td>
          <td>Node Uptime</td>
          <td>Node IP</td>
          <td>Ping</td>
        </tr>
      </thead>
      <tbody>
        {% for user in site.data.directory %}
        <tr>
          <td>{{user.node_name | strip_html | truncatewords: 50 }}</td>
          <td>{{user.node_region}}</td>
          <td>{{user.node_version}}</td>
          <td>{{user.node_uptime}}</td>
          <td>{{user.node_ip | strip_html | truncatewords: 50 }}</td>
          <td>22ms</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include call-to-action.html %}
