<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Easy to use interface.</h2>
          <p>Use the {{site.data.business.name}} front-end to view assets, check network stats, transfer assets, and more! All you need to get started is a web browser.</p>
          <a class="btn btn-default btn-call-to-action" href="#">Lets Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>